*{
  margin:0;
  padding:0;
}
body{
  background-color: #d7d9dd;
}
.App{
  background-image: linear-gradient(to top, #03302a 0%, #05362e 100%); 
}
.App-header{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  
}
.headerFont{
  font-size: 30px;
  margin: 50px 0 15px 50px;
  color: #fff;
}